body {
    background-color: black;
}

.Fortune {
    width: 100%;
    border: 5px solid white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-family: "Hanken Grotesk", sans-serif;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "Hanken Grotesk", sans-serif;
}